# Plainville public library analysis

**Goals:**
- [ ] Calculate total number of library visits in 2023
- [ ] Calculate income per library visit in 2023

| Year | Population of Area | Visits per Person in Area | Total Income | Operating Expenses |
|------|--------------------|----------------------|------------------------|--------------------|
| 2022 | 17445 | 3.3 | 763415 | 793945 |
| 2023 | 17479 | 3.8 | 830696 | 794398 |

In [ ]:
# total number of library visits 2023
3.8 * 17479 # displays last value

In [ ]:
830696 / 66420.2  # $12.51

In [ ]:
# Visits from 2023 only
print("Total number of library visits", 3.8 * 17479)
# Visits from 2022 only
print("Total number of library visits", 3.3 * 17445)

In [ ]:
print("Income per library visit:", 830696 / 66420.2) # dollars

In [ ]:
# Profit in 2023
print("Profit in 2023:", 830696 - 794398)

In [ ]:
income2023 = 830000
print(income2023)

In [ ]:
print("Income per library visit:", income2023 / 66420.2) # dollars
print("Profit in 2023:", income2023 - 794398)

In [ ]:
# variable for total number of library visits (population * visits per person)
total_library_visits_2022 = 3.8 * 17479
total_library_visits_2023 = 3.3 * 17445
print(total_library_visits_2023)

In [ ]:
# Total operating expenses in 2022 and 2023
total_operating_expenses = 793945 + 794398

In [ ]:
print("Total operating expenses:", total_operating_expenses)

# Plainville public library analysis pt. 2

**Goals:**
- [ ] Sum the total income across all 5 years

| Year | Total Income |
|------|--------------|
| 2019 | 737487 |
| 2020 | 740967 |
| 2021 | 756155 |
| 2022 | 763415 | 
| 2023 | 830696 |

In [ ]:
income2017 = 755720
income2018 = 735731
income2019 = 737487
income2020 = 740967
income2021 = 756155
income2022 = 763415
income2023 = 830696

In [ ]:
# list of incomes
incomes = [755720, 735731, 737487, 740967, 756155, 763415, 830696] # which year?
years = [2017, 2018, 2019, 2020, 2021, 2022, 2023]

In [ ]:
print(sum(incomes))

In [ ]:
print(income2017 + income2018 +income2019 + income2020 + income2021 + income2022 + income2023)

## New data

| Year | Total Income |
|------|--------------|
| 2017 | 755720 |
| 2018 | 735731 |

# Plainville public library analysis pt. 3

**Goals**
- [ ] Sum up incomes from 1996 and 1997
- [ ] Update 1998 income to 460,000
- [ ] Add projected 2024 income: 837,404

In [ ]:
from helper_functions import get_list
incomes = get_list("Total Income")
years = get_list("Year")

In [ ]:
print(incomes)

In [ ]:
print(years)

In [ ]:
# sum list of incomes
print(sum(incomes))

In [ ]:
# sum income from 1996 and 1997
print(incomes[0]) # first item in list
print(incomes[1])

In [ ]:
print(incomes[0] + incomes[1])

In [ ]:
print(incomes[2])

In [ ]:
incomes[2] = 460000
print(incomes[2])

In [ ]:
print(incomes)
incomes.append(837404)
print(incomes)

# Plainville public library analysis pt. 4

**Goals**
- [ ] Calculate the **maximum** expenses for all years
- [ ] Calculate the **earliest** year for which you have data
- [ ] Calculate the **average** operating expenses per year
- [ ] Create a **line graph** showing change in expenses over time

In [ ]:
from helper_functions import get_list
expenses = get_list("Operating Expenses")
years = get_list("Year")

In [ ]:
print(expenses)
print(years)

In [ ]:
print("Maximum value for all years:", max(expenses))

In [ ]:
print("Earliest year of the data:", min(years))

In [ ]:
# add up all expenses & divide by number of expenses

# add up expenses
total = sum(expenses)

# divide by number of expenses
average = total / len(expenses)

# print the result
print("Avearge yearly expenses:", average)

In [ ]:
from helper_functions import create_line_chart
create_line_chart(years, expenses)